
  <div class="container">
    <section class="services">
      <div class="row">
        <div class="one-half column">
          <a href="#" *ngFor="let jorny of jrny">
            <h4>{{jorny.source}}-{{jorny.destination}}</h4>
            <span class="fa fa-bus"></span>
            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
          </a>
        </div>
      </div><!--end of .row-->
    </section>
  </div>  