<body>

  <!--============= Page Content =============-->


  <!--============= Navbar =============-->
  <nav class="navbar">
      <div class="container">

          <!-- Navbar Header [collects both toggle button and navbar brand] -->
          <div class="navbar-header">
              <!-- Toggle Button [handles opening navbar menu on mobile screens]-->
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#exampleNavComponents" aria-expanded="false">
                  <i class="glyphicon glyphicon-align-center"></i>
              </button>

              <!-- Navbar Brand -->
              <a href="#" class="navbar-brand">
                  RideASAP
              </a>
          </div>


          <!-- Navbar Collapse [collect navbar components such as navbar links and forms ] -->
          <div class="collapse navbar-collapse" id="exampleNavComponents">

            

          </div>
      </div>

  </nav><!-- /.============= Navbar =============-->



